.container {
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FormBox {
  width: 100%;
  max-width: 500px;
  height: 75vh;
  max-height: 250px;
  padding: 2rem;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.FormBox__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.FormBox__mounts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.FormBox__mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.FormBox__mount:hover {
  border: 1px solid #000;
}

.FormBox__mount--active {
  border: 1px solid #000;
}

.FormBox__sn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
}

.FormBox__sn input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 0 1rem;
  font-size: 1rem;
}

.FormBox__result {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
